<%- include("./partials/header.ejs")%> 
 <section class="seção-café">
        <div class="card">
            <div class="imagem">
                <!-- Fiz essa div só pra encaixar uma imagem no background mais facilmente-->
            </div>
            <h3>Gatinho lindinho</h3>
            <p>Esse é o Cappuccino, um belo gatinho preto e branco. Também poderia ser chamado
                de cafézinho com leite pois ele é muito lindinho. Foi encontrado dentro do carro
            da minha avó e desde então recebeu muito amor.</p>
            <form id="compra-café" action="#" method="POST">
                <input id="qtdcafe" type="number" name="qtdcafe" min="1" placeholder="Qtd.de Cafés">
                <button>Adicionar ao carrinho</button>
            </form>
        </div>
        
    </section>
    
    <!--  PARTE DE BUSCAS DE OUTROS PRODUTOS-->
    
    <div id="buscar-outros-produtos-loiros">
        <div>
            
        
        <label for="buscando">Buscar outros produtos:</label>
        <input type="text" name="busca" id="buscando" placeholder="ex: Descrição do produto">
    </div>  
    </div>



    <section class="outros-produtos">
        <div class="card-outro-produto">
            <div class="imagem">
                <!-- Fiz essa div só pra encaixar uma imagem no background mais facilmente-->
            </div>
            <h4>Outro produto</h4>
            <p>Descrição do produto</p>
            <form class="form-compra" action="#" method="POST">
                <input class="qtd" type="number" name="qtd" min="1" placeholder="Qtd. desejada">
                <button>Adicionar ao carrinho</button>
            </form>
                
        </div>
        <div class="card-outro-produto">
            <div class="imagem">
                <!-- Fiz essa div só pra encaixar uma imagem no background mais facilmente-->
            </div>
            <h4>Outro produto</h4>
            <p>Descrição do produto</p>
            <form class="form-compra" action="#" method="POST">
                <input class="qtd" type="number" name="qtd" min="1" placeholder="Qtd. desejada">
                <button>Adicionar ao carrinho</button>
            </form>
                
        </div>
        <div class="card-outro-produto">
            <div class="imagem">
                <!-- Fiz essa div só pra encaixar uma imagem no background mais facilmente-->
            </div>
            <h4>Outro produto</h4>
            <p>Descrição do produto</p>
            <form class="form-compra" action="#" method="POST">
                <input class="qtd" type="number" name="qtd" min="1" placeholder="Qtd. desejada">
                <button>Adicionar ao carrinho</button>
            </form>
                
        </div>
        <div class="card-outro-produto">
            <div class="imagem">
                <!-- Fiz essa div só pra encaixar uma imagem no background mais facilmente-->
            </div>
            <h4>Outro produto</h4>
            <p>Descrição do produto</p>
            <form class="form-compra" action="#" method="POST">
                <input class="qtd" type="number" name="qtd" min="1" placeholder="Qtd. desejada">
                <button>Adicionar ao carrinho</button>
            </form>
                
        </div>
        <div class="card-outro-produto">
            <div class="imagem">
                <!-- Fiz essa div só pra encaixar uma imagem no background mais facilmente-->
            </div>
            <h4>Outro produto</h4>
            <p>Descrição do produto</p>
            <form class="form-compra" action="#" method="POST">
                <input class="qtd" type="number" name="qtd" min="1" placeholder="Qtd. desejada">
                <button>Adicionar ao carrinho</button>
            </form>
                
        </div>
        <div class="card-outro-produto">
            <div class="imagem">
                <!-- Fiz essa div só pra encaixar uma imagem no background mais facilmente-->
            </div>
            <h4>Outro produto</h4>
            <p>Descrição do produto</p>
            <form class="form-compra" action="#" method="POST">
                <input class="qtd" type="number" name="qtd" min="1" placeholder="Qtd. desejada">
                <button>Adicionar ao carrinho</button>
            </form>
                
        </div>
        <div class="card-outro-produto">
            <div class="imagem">
                <!-- Fiz essa div só pra encaixar uma imagem no background mais facilmente-->
            </div>
            <h4>Outro produto</h4>
            <p>Descrição do produto</p>
            <form class="form-compra" action="#" method="POST">
                <input class="qtd" type="number" name="qtd" min="1" placeholder="Qtd. desejada">
                <button>Adicionar ao carrinho</button>
            </form>
                
        </div>        
        <div class="card-outro-produto">
            <div class="imagem">
                <!-- Fiz essa div só pra encaixar uma imagem no background mais facilmente-->
            </div>
            <h4>Outro produto</h4>
            <p>Descrição do produto</p>
            <form class="form-compra" action="#" method="POST">
                <input class="qtd" type="number" name="qtd" min="1" placeholder="Qtd. desejada">
                <button>Adicionar ao carrinho</button>
            </form>
                
        </div>   
    </section>
    <!-- SEÇÃO DE APRESENTAÇÃO NA PÁGINA PRINCIPAL -->
    <section class="presentation">
        <div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus consequatur excepturi obcaecati eos illo nam, doloribus quos aspernatur rerum dolore molestias? Eligendi deserunt aspernatur blanditiis libero qui ex cumque consequatur perspiciatis sit facere provident cupiditate atque, labore maxime, molestiae enim impedit, tenetur assumenda possimus sunt id! Odit ab temporibus enim?</p>
        </div>
        <div class="ibagem-presentation">
            
        </div>
        <div class="ibagem-presentation">

        </div>
        <div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur incidunt animi dolore eveniet labore ex mollitia consectetur, voluptas consequatur, inventore ipsa sapiente magnam nesciunt quasi aliquid, provident tempore alias vel perferendis asperiores. Necessitatibus laborum placeat accusantium eius labore beatae neque aspernatur sint molestias laudantium provident tempora ipsum cum earum expedita quam cupiditate ea, iste corporis temporibus iusto magnam. Odit, dolor harum? Amet, enim quam atque distinctio et molestias quibusdam quae molestiae sunt in necessitatibus delectus nemo, sapiente sint. Omnis, placeat?</p>
        </div>
    </section>
<%- include("./partials/footer.ejs")%>