    <!-- FOOTER -->
    <footer>
        <div>
            <p>Alguma coisa</p>
            <p>la la la</p>
            <p>creu creu creu</p>
        </div>
        <div>
            <p>Sobre nós</p>
            <p>la la la</p>
            <p>creu creu creu</p>
        </div>
        <div>
            <p>Deixar</p>
            <p>os dois</p>
            <p>últimos</p>
        </div>
        <div>
            <p>para a</p>
            <p>Localização</p>
            <p>no maps</p>
        </div>
        <!-- Ver como adicionar o final do footer dentro dessa div -->
        
    </footer>

    <div class="copyloiro">
        CopyLoiro Café Loiro 2020©
    </div>
    <!-- 
        Relacionado com o CSS que está comentado no media query
        <section class="grid-renomear">
        <p>primeiro no grid</p>
        <p>segundo no grid</p>
        <h1 class="mobile">Mobile</h1>
        <h1 class="tablet">Tablet</h1>
        <h1 class="pc">PC</h1>
    </section>
 -->

    
</body>
</html>
