<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/auth.css">
    <title><%= title %></title>
</head>
<body>
    <nav class="navbar">
        <a href="/"><img id="logo"src="img/exemplo_logo.png" alt="Logo"></a>
        <ul>
            <a href="/entrar"><li>Entrar</li></a>
            <a href="/registrar"><li>Registar</li></a>
        </ul>
    </nav>
